<!DOCTYPE html>
{% load static %} <!-- Importa la etiqueta de Django para usar archivos estáticos (CSS, imágenes, JS) -->

<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Codificación UTF-8 para permitir caracteres especiales como tildes y ñ -->
    <meta name="viewport" content="width=7, initial-scale=1.0"> <!-- Configuración de vista adaptable (aunque width=7 parece un error tipográfico) -->
    <title>Document</title> <!-- Título de la pestaña en el navegador -->

    <!-- Vinculación con la hoja de estilos personalizada en /static/css/index.css -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    
    <!-- Barra de navegación principal -->
    <ul class="navbar">
        <li><a href="http://127.0.0.1:8000/index/">Menu</a></li>
        <li><a href="http://127.0.0.1:8000/trabajadores/">Trabajadores</a></li>
        <li><a href="http://127.0.0.1:8000/rol/">Roles</a></li>
        <li><a href="http://127.0.0.1:8000/estadoB/">Estado Bus</a></li>
        <li><a href="http://127.0.0.1:8000/asignarB/">Asignar Bus</a></li>
        <li><a href="http://127.0.0.1:8000/buses">Buses</a></li>
    </ul>

    <!-- Contenedor principal -->
    <div class="div2">

        <!-- Encabezado de sección -->
        <div class="div1">
            <h1>estado</h1> <!-- Aquí se muestran los roles de trabajadores -->
        </div>

        <!-- Tabla de datos -->
        <table style="width: 100%;">
            <tr>
                <th>id</th> <!-- Identificador del trabajador -->
                <th>Rol</th> <!-- Rol asignado -->
            </tr>
            <tr>
                <!-- Variables de Django que mostrarán los valores dinámicos desde la vista -->
                <td>{{ id_trabajador }}</td>
                <td>{{ rol_asignado }}</td>
            </tr>
        </table>
        <br><br>

        <!-- Botones de acción -->
        <div>
            <!-- Redirige al menú principal -->
            <button onclick="location.href='http://127.0.0.1:8000/index/'" class="botones" type="button">Regresar</button>

            <!-- Redirige a la página para cambiar el rol de un trabajador -->
            <button onclick="location.href='http://127.0.0.1:8000/cambiarol/'" class="botones" type="button">cambiar rol</button>
            <br><br>
        </div>
    </div>
    <br><br><br>

    <!-- Imágenes decorativas -->
    <img src="{% static 'img/bus-hualpen.png' %}" width="30%" alt="Bus Hualpén">
    <img class="bus1" src="{% static 'img/bus1.png' %}" width="25%" alt="Bus lateral">
    <img class="bus2" src="{% static 'img/bus-derecha.png' %}" width="30%" alt="Bus derecho">

</body>
</html>
