<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div>
        <h1>menu</h1>
        <button type="button">ver trabajador</button><br><br>
        <button type="button">ver buses</button><br><br>
        <button type="button">ver roles</button><br><br>
        <button type="button">ver estados de bus</button><br><br>
        <button type="button">asociar rol a trabajador</button><br><br>
        <button type="button">asignar trabajador a bus</button><br><br>

    </div>
</body>
</html>