<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static "css/index.css"%}">
</head>
<body>
    <div class="div3">
        <div class="div1">
            <h1>welcome</h1>
        </div>
        <div>
            <input type="text" class="inputclasic" placeholder="usuario"><br><br>
            <input type="password" placeholder="contraseña">
            
        </div>
        <br><br><button>sexo norte</button><br><br>
    </div>
    
</body>
</html>