<!DOCTYPE html>
{% load static %}
<!-- Carga la librería 'static' de Django para poder usar archivos estáticos (CSS, imágenes, JS) -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Define la codificación de caracteres a UTF-8 -->

    <meta name="viewport" content="width=7, initial-scale=1.0">
    <!-- Configuración de la ventana gráfica (⚠️ el valor width=7 parece un error, lo normal es width=device-width) -->

    <title>Document</title>
    <!-- Título que aparece en la pestaña del navegador -->

    <!-- Conexión con la hoja de estilos ubicada en static/css/index.css -->
    <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>

    <!-- Barra de navegación -->
    <ul class="navbar">
        <li><a href="http://127.0.0.1:8000/index/">Menu</a></li>
        <li><a href="http://127.0.0.1:8000/buses/">Buses</a></li>
        <li><a href="http://127.0.0.1:8000/trabajadores/">Trabajadores</a></li>
        <li><a href="http://127.0.0.1:8000/estadoB/">Estado Bus</a></li>
        <li><a href="http://127.0.0.1:8000/asignarR/">Asignar Rol</a></li>
        <li><a href="http://127.0.0.1:8000/asignarB/">Asignar Bus</a></li>
    </ul>
    <!-- Cada <li> es un enlace de navegación hacia diferentes secciones de la aplicación -->

    <!-- Contenedor principal -->
    <div class="div2">

        <!-- Encabezado -->
        <div class="div1">
            <h1>Roles</h1>
        </div>

        <!-- Tabla para mostrar roles -->
        <table style="width: 100%;">
            <tr>
                <th>Id</th>
                <th>Rol</th>
            </tr>
            <tr>    
                <!-- Django mostrará dinámicamente el id y el rol -->
                <td>{{id}}</td>
                <td>{{rol}}</td>
            </tr>
        </table>
        <br><br>

        <!-- Botones de navegación -->
        <div>
            <!-- Regresa al menú principal -->
            <button onclick="location.href='http://127.0.0.1:8000/index/'" class="botones" type="button">
                Regresar
            </button>

            <!-- Lleva al formulario para ingresar un nuevo rol -->
            <button onclick="location.href='http://127.0.0.1:8000/ingresoR/'" class="botones" type="button">
                Ingresar Rol
            </button>

            <br><br>
        </div>
    </div>

    <!-- Imágenes cargadas desde la carpeta static/img -->
    <br><br>
    <img src="{% static "img/bus-hualpen.png" %}" width="30%">
    <img class="bus1" src="{% static "img/bus1.png" %}" width="25%">
    <img class="bus2" src="{% static "img/bus-derecha.png" %}" width="30%">
</body>
</html>
