<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabajadores</title>
    <link rel="stylesheet" href="{%static "css/index.css"%}">
</head>
<body>
    
    <div class="div2">
        <div class="div1">
            <h1>hola mundo</h1>
        </div>
            <table style="width: 100%;">
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>dirección</th>
                    <th>contacto</th>
                    <th>edad</th>
                </tr>
                
            </table>
        <div>

        </div>

    </div>


    
</body>
</html>