<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabajadores</title>
    <link rel="stylesheet" href="{%static "css/index.css"%}">
</head>
<body>
    <ul>
        <li><a href="http://127.0.0.1:8000/index/">menu</a></li>
        <li><a href="http://127.0.0.1:8000/buses/">buses</a></li>
        <li><a href="http://127.0.0.1:8000/rol/">roles</a></li>
        <li><a href="">estado bus</a></li>
        <li><a href="">asignar rol</a></li>
        <li><a href="">asignar bus</a></li>
    </ul>
    
    <div class="div2">
        <div class="div1">
            <h1>trabajadores</h1>
        </div>
            <table style="width: 100%;">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dirección</th>
                    <th>Contacto</th>
                    <th>Edad</th>
                </tr>
                <tr>    
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                    <td>{{direccion}}</td>
                    <td>{{contacto}}</td>
                    <td>{{edad}}</td>
                </tr>
                
            </table><br><br>
        <div>
            <button onclick="location.href='http://127.0.0.1:8000/index/'" class="botones" type="button">Regresar</button>
            <button onclick="location.href='http://127.0.0.1:8000/ingresoT/'" class="botones" type="button">Ingresar Trabajador</button>
            
            <br><br>
        </div>

    </div>


    
</body>
</html>